.btn:focus { box-shadow: none; }

.btn-secondary,
.btn-success {
  color: #fff;

  &:hover,
  &:focus { color: #fff; }
}

.btn-gray {
  background-color: rgba($gray-300, .75);
  color: $secondary;
}

.btn-outline-tertiary {
  border-color: $color-ui-02;
  color: $color-ui-02;

  &:hover,
  &:focus {
    background-color: $color-ui-02;
    color: #fff;
  }
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus { color: #fff; }

.btn-outline-info:hover,
.btn-outline-info:focus { color: #fff; }

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  width: $height-base;
  height: $height-base;
}

.btn-white {
  border: 1px solid $gray-400;
  background-color: #fff;

  &:hover,
  &:focus {
    border-color: darken($gray-400, 5%);
    background-color: $gray-100;
  }
}

.btn-outline-white {
  border: 1px solid rgba(#fff, .75);
  color: rgba(#fff, .75);

  &:hover {
    border-color: #fff;
    color: #fff;
  }
}

.button-action .btn-primary{
  border: 1px solid $color-ui-01;
  background-color: $color-ui-01;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-action .btn-danger{
  color: white;
  border: 1px solid $danger;
  background-color: $danger;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: white;
  }
}
.btn-disable{
  color: hsl(0, 0%, 60%);
  border: 1px solid #f2f2f2;
  background-color: #f2f2f2;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover{
    color: hsl(0, 0%, 60%);
    background-color: #f2f2f2;
  }
  cursor: not-allowed !important;
}
